{% extends 'testapp/base.html' %}
{% load static %}
{% block title %}
Delete comment
{% endblock %}

{% block bodycontent %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'main' %}">Mediplus</a>
        <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav nav ml-auto">
	          <li class="nav-item"><a href="{% url 'main' %}" class="nav-link"><span>Home</span></a></li>
	          <li class="nav-item"><a href="{% url 'main' %}#about-section" class="nav-link"><span>About</span></a></li>
	          <li class="nav-item"><a href="{% url 'main' %}#department-section" class="nav-link"><span>Department</span></a></li>
	          <li class="nav-item"><a href="{% url 'main' %}#doctor-section" class="nav-link"><span>Doctors</span></a></li>
	          <li class="nav-item"><a href="{% url 'main' %}#blog-section" class="nav-link"><span>Blog</span></a></li>
	          <li class="nav-item"><a href="{% url 'main' %}#contact-section" class="nav-link"><span>Contact</span></a></li>
	          <li class="nav-item cta mr-md-2"><a href="{% url 'appointment' %}" class="nav-link">Appointment</a></li>
	        </ul>
        </div>
    </div>
</nav>

	  <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static "images/bg_1.jpg" %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-4">
            <h1 class="mb-3 bread">Delete</h1>
             <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'main' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog Single <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

<section class="ftco-section">
    <div class="container">
    <div class="pt-5 mt-5">
        <h3 class="mb-5">Comment</h3>
        <h4>Are you sure you want to delete comment "{{item}}"?</h4>
        <form action="{% url 'delete_comment' item.id  %}" method="POST">
            {% csrf_token %}

            <br>
            <div class="form-group">
                <a class="btn btn-warning" href="{% url 'main' %}">Cancel</a>
                <input type="submit" value="Delete" class="btn py-3 px-4 btn-primary">
            </div>
        </form>
    </div>
    </div>
</section>
{% endblock %}